.top-margin-small {
  margin-top: 25px; }

button, [type='button'], [type='reset'], [type='submit'],
.button {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: #4056a1;
  border: 0;
  border-radius: 1.5em;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  padding: 0.5em 25px;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: min-content; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover,
  .button:hover {
    background-color: #334581;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus,
  .button:focus {
    appearance: none; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled,
  .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover,
    .button:disabled:hover {
      background-color: #4056a1; }

.button-secondary {
  background-color: transparent;
  border: 2px solid #4056a1;
  color: #4056a1; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 12.5px;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 12.5px; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 25px;
  padding: 16.66667px;
  transition: border-color 300ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #4056a1;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(64, 86, 161, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #666666; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 12.5px; }

[type="file"] {
  margin-bottom: 25px;
  width: 100%; }

select {
  margin-bottom: 25px;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(64, 86, 161, 0.6);
  outline-offset: 2px; }

.hero {
  align-items: center;
  background-color: #f7d525;
  display: flex;
  height: 300px;
  justify-content: space-around;
  width: 100%; }

.jumbo-feature::after {
  clear: both;
  content: "";
  display: block; }
.jumbo-feature .container {
  display: flex; }
  .jumbo-feature .container .illustration-wrapper,
  .jumbo-feature .container .text-and-description {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    display: flex; }
  .jumbo-feature .container .illustration-wrapper {
    align-items: flex-end;
    justify-content: flex-end; }
  .jumbo-feature .container .text-and-description {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    align-items: center;
    display: flex; }
  .jumbo-feature .container h1 {
    font-size: 3.1em; }
  .jumbo-feature .container time {
    margin-bottom: 10px; }

.featured-flavors {
  background-color: #fff; }
  .featured-flavors::after {
    clear: both;
    content: "";
    display: block; }
  .featured-flavors .container {
    padding: 50px;
    text-align: center; }
    .featured-flavors .container .flavors {
      align-items: flex-end;
      display: flex;
      justify-content: space-around; }
    .featured-flavors .container .flavor {
      flex-basis: 0; }

.featured-tip::after {
  clear: both;
  content: "";
  display: block; }
.featured-tip .container {
  padding: 50px 50px 100px;
  border-bottom: 1px solid #333; }
  .featured-tip .container::after {
    clear: both;
    content: "";
    display: block; }
  .featured-tip .container .title-and-summary {
    width: calc(58.33333% - 31.66667px);
    float: left;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .featured-tip .container .illustration-wrapper {
    width: calc(41.66667% - 28.33333px);
    float: left;
    margin-left: 20px;
    align-items: center;
    display: flex;
    position: relative; }
  .featured-tip .container img {
    height: 500px;
    position: absolute;
    top: -110px; }

.latest-posts {
  padding-bottom: 100px;
  position: relative; }
  .latest-posts::after {
    clear: both;
    content: "";
    display: block; }
  .latest-posts .container {
    padding: 50px;
    position: relative;
    text-align: center;
    z-index: 1; }
    .latest-posts .container .posts {
      align-items: flex-end;
      display: flex; }
    .latest-posts .container .post {
      width: calc(25% - 25px);
      float: left;
      margin-left: 20px; }
      .latest-posts .container .post img {
        width: 150px; }
  .latest-posts .section-header {
    margin-bottom: 100px; }
  .latest-posts .decorative-half-box {
    background-color: #fff;
    bottom: 0;
    height: 400px;
    position: absolute;
    width: 100%; }

.nav {
  background-color: #ef3e23;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  transition: height 0.1s ease;
  width: 100%;
  z-index: 999; }
  .nav::after {
    clear: both;
    content: "";
    display: block; }
  .nav .container {
    display: flex;
    flex-direction: row;
    position: relative; }
    .nav .container h3 {
      flex: 1 0 0; }
    .nav .container ul {
      position: absolute;
      right: 0;
      bottom: 20px;
      display: flex;
      list-style: none; }
    .nav .container a {
      padding-right: 0;
      padding-bottom: 12.5px;
      padding-left: 0;
      border-bottom: 0 solid transparent;
      color: #fff;
      font-weight: 800;
      margin: 0 12.5px;
      text-decoration: none;
      transition: border-bottom 300ms; }
      .nav .container a:hover,
      .nav .container a .nav-link-active {
        border-bottom: 4px solid #fff;
        padding-bottom: 12.5px; }

.blog-title {
  color: #fff;
  font-size: 87px;
  line-height: 80px;
  margin-bottom: 0.3em;
  transform: rotate(-8deg);
  transition: font-size 0.1s ease; }

.blog-title-first-line {
  padding-left: 15px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  background: url("../images/hip-square.png");
  background-color: #fff;
  color: #444;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 1000px; }

#main {
  flex: 1 0 auto;
  margin-top: 225px; }

.footer {
  background-color: black;
  color: #fff;
  flex-shrink: 0;
  padding: 40px 30px;
  width: 100%; }
  .footer .first-row {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .footer .link {
    display: flex;
    justify-content: space-around; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

.jumbo-feature img {
  height: 645px;
  margin-top: -50px;
  z-index: 999; }
.jumbo-feature article img {
  height: 100px;
  margin-left: -50px;
  transform: rotate(75deg); }

.featured-flavors img {
  padding: 25px;
  width: 205px; }

table {
  border-collapse: collapse;
  margin: 50px 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 25px 25px 25px 0; }

html {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h4,
h6 {
  color: black;
  font-family: "Ahkio-regular";
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin: 0 0 25px; }

h1 {
  font-size: 4em; }

h2 {
  font-family: "Ahkio-light";
  font-size: 2.6em; }

h3 {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.375em; }

h4 {
  font-size: 1.1em; }

h5 {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.07em;
  text-transform: uppercase; }

p {
  margin: 0 0 25px; }
  p.small {
    font-size: 80%; }
  p.muted {
    opacity: 0.5; }

a {
  color: #4056a1;
  text-decoration: none; }
  a:focus, a:hover {
    color: #4056a1; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 50px 0; }

time {
  display: block;
  font-size: 80%;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.heading-background {
  background: url("../../images/h2-background.svg") no-repeat center; }

.section-header {
  color: #ef3e23; }

.recipes_index .entries {
  display: flex; }
  .recipes_index .entries .entry {
    background-color: blue;
    height: 300px;
    width: 300px; }

.recipe-illustration {
  width: 300px; }

.recipe-content {
  background-color: #fff; }
  .recipe-content::after {
    clear: both;
    content: "";
    display: block; }
  .recipe-content .container {
    display: flex;
    justify-content: flex-end; }
  .recipe-content ol {
    list-style-type: decimal; }

.ingredients-and-directions {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 25px;
  width: 50%; }

.entries_recipes .jumbo-feature {
  position: relative; }
.entries_recipes .illustration img {
  height: 1000px;
  position: absolute;
  top: -50px;
  z-index: 999; }
.entries_recipes .text-and-description {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1.125em; }

.article-link-bracket {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  margin-top: 25px; }
  .article-link-bracket *:nth-child(2) {
    margin: 0; }
  .article-link-bracket *:last-child {
    margin: 0 auto; }

.recipes_index .entries {
  display: flex; }
  .recipes_index .entries .entry {
    background-color: blue;
    height: 300px;
    width: 300px; }

.recipe-illustration {
  width: 300px; }

.recipe-content {
  background-color: #fff; }
  .recipe-content::after {
    clear: both;
    content: "";
    display: block; }
  .recipe-content .container {
    display: flex;
    justify-content: flex-end; }
  .recipe-content ol {
    list-style-type: decimal; }

.ingredients-and-directions {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 25px;
  width: 50%; }

.entries_recipes .jumbo-feature {
  position: relative; }
.entries_recipes .illustration img {
  height: 1000px;
  position: absolute;
  top: -50px;
  z-index: 999; }
.entries_recipes .text-and-description {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1.125em; }
