$_button-background-color: $action-color;
$_button-background-color-hover: shade($action-color, 20%);

#{$all-buttons},
.button {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: $_button-background-color;
  border: 0;
  border-radius: $large-border-radius;
  color: contrast-switch($_button-background-color);
  cursor: pointer;
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 800;
  line-height: 1;
  padding: 0.5em $small-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: min-content;

  &:hover {
    background-color: $_button-background-color-hover;
    color: contrast-switch($_button-background-color-hover);
  }

  &:focus {
    appearance: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $_button-background-color;
    }
  }
}

.button-secondary {
  background-color: transparent;
  border: $base-border-width solid $action-color;
  color: $action-color;
}
