.hero {
  align-items: center;
  background-color: #f7d525;
  display: flex;
  height: 300px;
  justify-content: space-around;
  width: 100%;
}

.jumbo-feature {
  @include clearfix;

  .container {
    display: flex;
<<<<<<< HEAD
=======
    justify-content: stretch;
>>>>>>> 5eb2fee8ab335b6cef91e6d24fe9b5546932c035

    .illustration,
    .text-and-description {
      @include grid-column(6 of 12);
      display: flex;
    }

    .illustration {
      align-items: flex-end;
      justify-content: center;
    }

    .text-and-description {
      @include grid-column(6 of 12);
      align-items: center;
      display: flex;
    }
  }
}

.featured-flavors {
  background: url("../../images/linedpaper.png");

  .container {
    height: 500px;
    padding: 50px;
    text-align: center;

    .flavors {
      align-items: flex-end;
      display: flex;

      .flavor {
        @include grid-column(4 of 12);
      }
    }
  }
}

.drawn-rule {
  margin-top: 100px;
}

.featured-tip {
  @include clearfix;

  .container {
    padding: $base-spacing;

    .title-and-summary {
      @include grid-column(7 of 12);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .illustration {
      @include grid-column(5 of 12);
      align-items: center;
      display: flex;
      position: relative;
    }

    img {
      height: 500px;
      position: absolute;
      top: -110px;
    }
  }
}

.latest-posts {
  .container {
    height: 500px;
    padding: 50px;
    text-align: center;

    .posts {
      align-items: flex-end;
      display: flex;
    }

    .post {
      @include grid-column(3 of 12);

      img {
        height: 220px;
      }
    }
  }
}
