.hero {
  align-items: center;
  background-color: #f7d525;
  display: flex;
  height: 300px;
  justify-content: space-around;
  width: 100%;
}

.jumbo-feature {
  @include clearfix;

  .container {
    display: flex;
  }

  .illustration-wrapper,
  .text-and-description {
    @include grid-column(6 of 12);
    display: flex;
  }

  .illustration-wrapper {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .text-and-description {
    align-items: center;
    display: flex;
  }

  .feature-title {
    font-size: 3.1em;
  }

  time {
    margin-bottom: 10px;
  }

  .single-entry .illustration-wrapper {
    position: relative;

    img {
      height: auto;
      position: absolute;
      top: 0;
      width: 500px;
    }
  }
}

@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px) {
  .jumbo-feature {
    .container {
      position: relative;
    }
    .illustration-wrapper {
      @include position(absolute, 0 0 null null);

      img {
        height: 200px;
        z-index: 0;
      }
    }

    .text-and-description {
      margin: 0 $small-spacing $base-spacing;
      width: 90%;
    }
  }
}

.featured-flavors {
  @include clearfix;
  background-color: $white;

  .container {
    padding: 50px;
    text-align: center;

    .flavors {
      align-items: flex-end;
      display: flex;
      justify-content: space-around;
    }

    .flavor {
      flex-basis: 0;
    }
  }
}

@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px) {
  .featured-flavors .container {
    padding: $base-spacing $small-spacing;
    text-align: left;

    .section-header {
      text-align: center;
    }

    .article-link-bracket {
      padding: 0;
    }
  }

  .flavors {
    flex-direction: column;
  }

  .flavor {
    margin: $small-spacing 0;
  }

  .featured-flavors img,
  .featured-flavors article {
    @include grid-column(6 of 12);
  }

  .featured-flavors .flavor img {
    margin-left: 0;
    padding: $small-spacing 0 0;
    width: calc(50% - 30px);
  }
}

.featured-tip {
  @include clearfix;

  .container {
    @include clearfix;
    @include padding($base-spacing $base-spacing $large-spacing);
    border-bottom: 1px solid $dark-gray;

    .title-and-summary {
      @include grid-column(7 of 12);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .illustration-wrapper {
      @include grid-column(5 of 12);
      align-items: center;
      display: flex;
      position: relative;
    }

    img {
      height: 500px;
      position: absolute;
      top: -110px;
    }
  }
}

@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px) {
  .featured-tip .container {
    @include padding($smallest-spacing $smallest-spacing $base-spacing);

    .title-and-summary,
    .illustration-wrapper {
      width: auto;
    }

    img {
      height: auto;
      position: relative;
      top: 0;
      width: 80%;
    }
  }
}

.latest-posts {
  @include clearfix;
  padding-bottom: $large-spacing;
  position: relative;

  .container {
    padding: 50px;
    position: relative;
    text-align: center;
    z-index: 1;

    .posts {
      align-items: flex-end;
      display: flex;
    }

    .post {
      @include grid-column(3 of 12);

      img {
        width: 175px;
      }
    }
  }

  .section-header {
    margin-bottom: $large-spacing;
  }

  .decorative-half-box {
    background-color: $white;
    bottom: 0;
    height: 400px;
    position: absolute;
    width: 100%;
  }
}

@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px) {
  .latest-posts .container {
    padding: 0;

    .section-header {
      margin: $base-spacing 0 $small-spacing;
    }

    .posts {
      align-items: center;
      flex-direction: column;
    }

    .post {
      margin: 0 auto;
      width: 100%;
    }

    img {
      margin-bottom: -75px;
      margin-top: $small-spacing;
    }
  }
}
