.jumbo-feature {
  height: 600px;

  .container {
    height: inherit;

    .left,
    .right {
      @include grid-column(6 of 12);
      display: flex;
    }

    .left {
      align-items: flex-end;
      justify-content: center;
    }

    .right {
      @include grid-column(6 of 12);
      align-items: center;
      display: flex;
      height: 100%;
    }
  }
}

.featured-flavors {
  background: url("../../images/linedpaper.png");

  .container {
    height: 500px;
    padding: 50px;
    text-align: center;

    .flavors {
      align-items: flex-end;
      display: flex;

      .flavor {
        @include grid-column(4 of 12);
      }
    }
  }
}

.latest-posts {
  .container {
    height: 500px;
    padding: 50px;
    text-align: center;

    .posts {
      align-items: flex-end;
      display: flex;

      .post {
        @include grid-column(3 of 12);

        img {
          height: 220px;
        }
      }
    }
  }
}
