html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: url("../images/hip-square.png");
  background-color: #fff;
  color: #444;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

#main {
  flex: 1 0 auto;
  margin-bottom: 100px;
  margin-top: 225px;
}

.footer {
  background-color: black;
  color: $white;
  flex-shrink: 0;
  padding: 40px 30px;
  width: 100%;

  .first-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .link {
    display: flex;
    justify-content: space-around;
  }
}
