html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  background-color: #fff;
  color: #444;
  font-family: 'Fira Sans', sans-serif;
  margin: 225px auto;
  background: url('../images/hip-square.png');
  // height: 2000px;
}

#main {
   @include grid-container(1000px);
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f7f7f7;
  padding: 0px 30px;
  width: 100%;
  color: #999;
}
