figure {
  margin: 0;
}

.jumbo-feature {
    img {
        height: 645px;
        margin-top: -50px;
        z-index: 999;
    }
    article img {
        height: 100px;
        transform: rotate(75deg);
        margin-left: -50px;
    }
}

.featured-flavors img {
    height: 200px;
}