@mixin generate-bracket($height) {
  @include grid-media($large-screen-up) {
    height: $height;
    padding: 0;
  }
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
