.nav {
  @include clearfix;
  background-color: $red;
  padding: 15px $small-spacing;
  position: fixed;
  top: 0;
  transition: height 0.1s ease;
  width: 100%;
  z-index: 999;

  .container {
    display: flex;
    flex-direction: row;
    position: relative;

    h3 {
      flex: 1 0 0;
    }

    ul {
      @include position(absolute, null 0 20px null);
      display: flex;
      list-style: none;
    }

    a {
      // @include padding(null 0 $smallest-spacing);
      border-bottom: 0 solid transparent;
      color: $white;
      font-weight: 800;
      margin: 0 $smallest-spacing;
      text-decoration: none;
      transition: border-bottom $base-duration;

      &:hover,
      .nav-link-active {
        border-bottom: $large-border-width solid $white;
        padding-bottom: $smallest-spacing;
      }
    }
    .blog-title-link {
      &:hover {
        border-bottom: 0;
      }
    }
  }
}

.blog-title {
  color: $white;
  font-size: 87px;
  line-height: 80px;
  margin-bottom: 0.3em;
  transform: rotate(-8deg);
  transition: font-size 0.1s ease;
}

.blog-title-first-line {
  padding-left: 15px;
}


@media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px) {
  .blog-title {
    font-size: 30px;
    line-height: 28px;
  }

  .nav .container {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .nav .container .nav-links {
    padding: $small-spacing 0 $smallest-spacing;
    position: static;
  }
}
