.nav {
  @include clearfix;
  background-color: $white;
  // height: 225px;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  transition: height 0.1s ease;
  width: 100%;
  z-index: 999;

  .container {
    display: flex;
    flex-direction: row;
    position: relative;

    .blog-title {
      color: $red;
      font-size: 87px;
      line-height: 80px;
      margin-bottom: 0.3em;
      transform: rotate(-8deg);
      transition: font-size 0.1s ease;
    }

    .blog-title-first-line {
      padding-left: 15px;
    }

    h3 {
      flex: 1 0 0;
    }

    ul {
      bottom: 20px;
      display: flex;
      list-style: none;
      position: absolute;
      right: 0;
    }

    li {
      a {
        border-bottom: 0 solid transparent;
        color: $blue;
        font-weight: 400;
        padding-bottom: 36px;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        transition: border-bottom $base-duration;

        &:hover,
        .active {
          border-bottom: 4px solid $blue;
          padding-bottom: 36px;
        }

        .active {
          font-weight: bold;
        }
      }
    }
  }
}
