.nav {
  @include clearfix;
  background-color: $red;
  padding: 15px $small-spacing;
  position: fixed;
  top: 0;
  transition: height 0.1s ease;
  width: 100%;
  z-index: 999;

  .container {
    @include grid-media($large-screen-up) {
      flex-direction: row;
    }
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    h3 {
      flex: 1 0 0;
    }

    .nav-links {
      @include grid-media($large-screen-up) {
        @include position(absolute, null 0 20px null);
      }
      display: flex;
      list-style: none;
      padding: $small-spacing 0 $smallest-spacing;
      position: static;
    }

    a {
      border-bottom: 0 solid transparent;
      color: $white;
      font-weight: 800;
      margin: 0 $smallest-spacing;
      text-decoration: none;
      transition: border-bottom $base-duration;

      &:hover,
      .nav-link-active {
        border-bottom: $large-border-width solid $white;
        padding-bottom: $smallest-spacing;
      }
    }
    .blog-title-link {
      &:hover {
        border-bottom: 0;
      }
    }
  }
}

.blog-title {
  @include grid-media($large-screen-up) {
    font-size: 87px;
    line-height: 80px;
  }
  color: $white;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 0.3em;
  transform: rotate(-8deg);
  transition: font-size 0.1s ease;
}

.blog-title-first-line {
  padding-left: 15px;
}
