html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;

  &.small {
    font-size: 80%;
  }

  &.muted {
    opacity: 0.5;
  }
}

a {
  color: $blue;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $blue;
  }
}

@mixin generate-link($color, $img-url, $position, $img-url-hover) {
  background: url($img-url) no-repeat $position;
  background-size: contain;
  color: $color;
  display: block;
  padding: 3px 20px;
  &:hover {
    background: url($img-url-hover) no-repeat center;
    a {
      color: $white;
    }
  }
}

.link-light {
  @include generate-link(
  $blue,
  "../../images/link-background-light.svg",
  center left,
  "../../images/link-background-medium-hover.svg");
}

.link-medium {
  @include generate-link(
  $blue,
  "../../images/link-background-medium.svg",
  center,
  "../../images/link-background-medium-hover.svg");
}

.link-light-small {
  @include generate-link(
  $blue,
  "../../images/link-background-light-small.svg",
  center,
  "../../images/link-background-medium-hover.svg");
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

time {
  display: block;
  font-size: 80%;
  font-weight: 200;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
