// Typography
$base-font-family: $font-stack-system;
$heading-font-family: "Ahkio-regular";
$base-font-size: 16px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$large-border-radius: 1.5em;
$base-spacing: 50px;
$small-spacing: $base-spacing / 2;
$smallest-spacing: $small-spacing / 2;
$large-spacing: $base-spacing * 2;
$base-z-index: 0;
$base-border-width: 2px;
$large-border-width: 4px;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$red: #ef3e23;
$yellow: #ffb80c;
$blue: #4056a1;
$off-white: #f6f5f2;
$white: #fff;

// Font Colors
$base-font-color: black;
$base-heading-color: black;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 300ms;
$base-timing: ease;

// Grid Sizes
$max-width: 1000px;
$neat-custom-grid: (
    columns: 2,
);
$large-screen-up: (
    columns: 12,
    media: 1000px,
);
// Tablet sizing
$small-screen-up: (
    columns: 6,
    media: 667px,
);

// Box Shadows
$base-box-shadow-color: rgba(223, 214, 204, 0.4);
