---

title: Peanut Butter Cookies and Cream
date: 2017-10-04 20:11 UTC
layout: recipes
tags:
category: recipes
illustration_tag: ../../../images/illustrations/peanut-butter-cookies-and-cream-combined.png
photo_tag:
ingredients_tag: ../../../images/illustrations/oreos.png

---

<h1>Peanut Butter Cookies and Cream</h1>
This is an article about ice cream.
