---

title: Roasted Banana
date: 2017-10-18 20:11 UTC
layout: recipes
category: recipes
illustration_tag: ../../../images/illustrations/banana-combined.png
expanded_illustration_tag: ../../../images/illustrations/banana.png
photo_tag:
ingredients_tag: ../../../images/illustrations/bananas.png

---

Roasted banana ice cream: the creamiest of cold creams ever.

READMORE

<h3 class="recipe-section-header">
    Ingredients
</h3>

<ul>
    <li>4 ripe bananas, sliced</li>
    <li>Salted butter</li>
    <li>Dark brown sugar</li>
    <li>8 egg yolks</li>
    <li>2 cups heavy cream</li>
    <li>3/4 cups sugar</li>
</ul>

<h3 class="recipe-section-header">
    Directions
</h3>

<ol>
    <h4>Roasted Bananas</h4>
    <li>Preheat the oven to 400F.</li>
    <li>Toss the brown sugar, butter, and sliced bananas in a bowl until combined.</li>
    <li>Spread them on a baking sheet and put in the oven until caramelized (about 15-20 min).</li>
    <li>Take them off the baking sheet and let cool (the melted sugar will make them stick to the pan). They don't have to look pretty because they'll be blended into the ice cream.</li>
    <br />
    <h4>Custard</h4>
    <li>Prepare a large bowl filled with ice water with a smaller bowl sitting in the water. This will be used to cool the cooked custard later.</li>
    <li>Combine the milk, heavy cream, and 1/2 cup white sugar in a medium saucepan and heat over low to medium heat.</li>
    <li>Meanwhile, whisk together the egg yolks with the remaining 1/4 cup sugar in a separate bowl.</li>
    <li>Once steam is coming off of the heated milk/cream in the saucepan, pour a splash into the egg mixture while whisking it continuously.</li>
    <li>Continue to add small amounts of the milk/cream to the eggs while whisking until you've added all of it into the separate bowl.</li>
    <li>Pour the combined mixture back into the saucepan and set over low to medium heat. Stir continuously with a rubber spatula or wooden spoon.</li>
    <li>After stirring for several minutes the custard will start to thicken. Once you can pick up the spatula or spoon and the custard sticks to it, hold it horizontally and run your finger through the custard. If it leaves a trail that stays, your custard is ready.</li>
    <li>Take it off the heat and strain the custard into the bowl set over the ice bath. Stir for about 5 minutes until the custard has cooled.</li>
    <br />
    <h4>Combine</h4>
    <li>Once the custard has cooled, use an immersion blender (or regular blender if you don't have one) to combine the roasted bananas with the custard.</li>
    <li>Place the custard in an airtight container and let the it cool completely in the fridge (this is important people!) for at least 4 hours, but preferably overnight.</li>
    <li>Once it's ready, churn it according to your ice cream maker's instructions until it's the consistency of soft servce. You can eat it right away for a softer texture, or freeze it for later.</li>
</ol>