---

title: Roasted Banana
date: 2017-10-04 20:11 UTC
layout: recipes
tags:
category: recipes
illustration_tag: ../../../images/illustrations/strawberry-combined.png
photo_tag:
ingredients_tag: ../../../images/illustrations/oreos.png

---

Roasted banana ice cream: the creamiest of cold creams ever.

READMORE

<h1>Roasted Banana</h1>
This is a list of ingredients and some instructions.
