---
title: Ice Cream on a Sunday
---

<% content_tag :div, :class => "hero" do %>
  <h1>Home page</h1>
<% end %>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
