---
title: Ice Cream on a Sunday
---

<% content_tag :div, :class => "hero" do %>
  <h1>Recipes!</h1>
<% end %>

<div class="entries">
    <% blog.articles.each do |article| %>
      <div class="entry">
        <h1>
          <a href="<%= article.url %>"><%= article.title %></a>
        </h1>

        <a href="<%= article.url %>">Read more</a>
      </div>
    <% end %>
</div>